body{
    margin: 0;
    padding: 0;
    background-color: #F7F7F8;
    text-align: center;
}

a{
    text-decoration: none;
}

.header{
    padding: 10px;
    margin: 0;
    display: inline-block;
    width: 100%;
    background-color: #C8CDE5;
    text-align: center;
}

.headTitle{
    padding: 0;
    margin: 0;

    display: inline-block;
    float: left;

}

.header.headTitle.headTitleLink{
    padding: 0;
    margin: 0;
}

.navBar{
    padding-right: 10px;
    margin-right: 15px;
    display: inline-block;
    float: right;
    vertical-align: center;
    font-size: 20px;

}

.navBar.a{
    padding-right: 15px;
    text-align: center;
    display: inline-block;
    vertical-align: center;
}



form{
    width: 30%;
    align-items: center;
    overflow: hidden;
    display: inline-block;
}

form input{
    display: inline-block;
    width: 60%;
    float: right;
    margin-bottom: 15px;
}
form label{
    display: inline-block;
    width: 30%;
    float:left;
    margin-bottom: 15px;
}
form button{
    float: right;

}

.blogpost{
    display: inline-block;
    text-align: left;
    width: 40%;
    background-color: #FFFFFF;
    margin-bottom: 10px;
    margin-right: 25%;
    margin-left: 25%;

}
.blogpost .title-div{
    padding: 5px;
    border: 1px;
    border-style: solid;
    margin-bottom: 5px;
}
.blogpost .content{
    padding: 5px;
    min-height: 100px;

}

.blogpost .title-div .creator{

}

