<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title>Szuperblog</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<body>
<header th:replace=" ${session.username == null} ? ~{menuBar.html :: loginBar} :
~{menuBar.html :: logoutBar}"></header>


</body>
</html>