<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:insert="header"></div>
    <h1>Index page</h1>

    <div th:each="post: ${posts}" class="blogpost">
        <div class="title-div">
            <h3 th:text = "${post.title}" class="title"></h3>
            <div th:text = " 'Created by: ' + ${post.user.getUserName()}" class="creator"></div>
        </div>
        <div th:text = "${post.content}" class="content"></div>
    </div>
</body>
</html>