<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:insert="header"></div>
    <form name="loginForm" action="/login" method="POST">
        <h3>Login</h3>
        <label for="login-userName">Username</label>
        <input type="text" name="username" id="login-userName">
        <label for="login-password">Password</label>
        <input type="password" name="password" id="login-password">
        <button type="submit">Login</button>
    </form>
    <p th:text="${loginMsg}"></p>
    <p th:text=" 'Welcome, ' + ${session.username} + '!'"
       th:unless="${session.username == null}"></p>
</body>
</html>