<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:insert="header"></div>
<form name="registerForm" action="/register" method="post">
    <h3>Register</h3>
    <label for="register-userName">Username</label>
    <input type="text" name="username" id="register-userName">
    <label for="register-password">Password</label>
    <input type="password" name="password" id="register-password">
    <label for="register-password2">Password again</label>
    <input type="password" name="password2" id="register-password2">
    <button type="submit">Register</button>
</form>
<p th:text="${registerMsg}"></p>

</body>
</html>